apiVersion: batch/v1
kind: Job
metadata:
  name: image-pull-job
  namespace: growi
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
    argocd.argoproj.io/sync-wave: "1"
spec:
  ttlSecondsAfterFinished: 10
  backoffLimit: 0
  template:
    spec:
      containers:
        - name: elasticsearch
          image: ghcr.io/isec-tut/containers/elasticsearch@sha256:b5638600dccfbefad2e88f96fd25f21d6e9f78af5c07ecb3b19ea6baec9c886d
          command: ["/bin/sh"]
          args: ["-c", "exit 0"]
        - name: mongo
          image: mongo:6.0.26
          command: ["/bin/sh"]
          args: ["-c", "exit 0"]
        - name: growi
          image: ghcr.io/isec-tut/containers/growi@sha256:ef179a69680ae385eb577eb780faee72367fa6422e2613cb885612974995cd16
          command: ["/bin/sh"]
          args: ["-c", "exit 0"]
      restartPolicy: Never
